<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="businesses.scss">
    </style>
  </head>
  <body>

    <section class="top-block">
      <div>
        <h1>Your Next Review Awaits</h1>
        <p>Review your local businesses.</p>
      </div>
    </section>

<h2 style="text-align:center;">See the business you'd like to review?</h2>

  <container>
<% @businesses.each do |b| %>
  <div class="division">
    <p class="business-url"><strong><%=link_to b.name, business_path(b) %></strong><br>
    <%= b.city %>, <%= b.state %><br>
    <%= b.category.name %><br>
    Price Range: <%= b.price_range %><br>
    </p>
  </div>
  <br>
<% end %>
  </container>

  <%= render 'add' %>

  </body>
</html>
