<h1>Businesses</h1>

<% @businesses.each do |b| %>
  <div>
    <h4><%=link_to b.name, business_path(b) %></h4>
    <p><%= b.city %>, <%= b.state %></p>
    <p><%= b.category.name %></p>
    <p>Price Range: <%= b.price_range %></p>
  </div>
<% end %>

<p><%= link_to "Add a Business", new_business_path %></p>
