<section class="top-block">
  <div>
    <h1>Something new? Tell us more!</h1>
    <p> Add a new business. </p>
  </div>
</section>

<section class="form-section">
<%= form_for(@business) do |f| %>

  <div class="select">
    <%= collection_select(:business, :category_id, Category.all, :id, :name, prompt: "Choose a category") %></p>
  </div>
  <br>
  <div>
  <%= f.label :name, :class => "form-label" %><br>
  <%= f.text_field :name, :class => "form-input" %>
  </div>
  <br>
  <div>
  <%= f.label :city, :class => "form-label" %><br>
  <%= f.text_field :city, :class => "form-input" %>
  </div>
  <br>
  <div>
  <%= f.label :state, :class => "form-label" %><br>
  <%= f.text_field :state, :class => "form-input" %>
  </div>
  <br>
  <!-- How to make drop down only from 1-4? -->
  <%= f.label :price_range, :class => "form-label" %><br>
  <%= f.text_field :price_range, :class => "form-input" %>

  <p><%= f.submit "Add Business", :class => 'form-submit-btn' %></p>
<% end %>
</section>

<div class="push"></div>
