<h1>Add a new Business</h1>
<!-- For admin access only -->
<%= form_for(@business) do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :city %><br>
  <%= f.text_field :city %>
  <br>
  <%= f.label :state %><br>
  <%= f.text_field :state %>
  <br>
  <p>Choose a range from 1-4, 4 being the most expensive.</p>
  <!-- How to make options only from 1-4? -->
  <%= f.label :price_range %><br>
  <%= f.text_field :price_range %>
  <br>
  <p>Choose a category:</p>
  <!-- category collection option -->

  <p><%= f.submit %></p>
<% end %>
