<h1><%= @business.name %></h1>

<!-- <p>Average rating:</p> -->

<p><%= @business.reviews.count %> reviews</p>
<!-- pluralize feature -->
<p><%= @business.category.name %><br></p>
<p>Price Range: <%= @business.price_range %></p>

<br>
<h4>Location</h4>
<p><%= @business.city %>, <%= @business.state %></p>
<br>
<h4>Recommended Reviews</h4>
<!-- Average Rating -->
<% @business.reviews.each do |r| %>
  <p><em><%=link_to r.customer.name, customer_reviews_path(r.customer) %></em> wrote a review.</p>
  <p>Rating: <%= r.rating %></p>
  <p><%= r.content %></p>
  <br>
<% end %>
<p><%= link_to ("Start your review of " + @business.name + "."), new_business_review_path(@business) %></p>
