<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="businesses.scss">
    </style>
  </head>
  <body>

    <section class="top-block">
      <div>
        <h1><%= @business.name %></h1>
        <p>Location: <%= @business.city %>, <%= @business.state %></p>
        <p><%= @business.category.name %> | Price Range: <%= @business.price_range %> |
        Average rating: <%= @business.average_rating %></p>
      </div>
    </section>

    <div style="text-align:center;">
    <h2>Recommended Reviews</h2>
      <% if @business.has_reviews? %>
        <p> Number of reviews: <%= @business.total_reviews %> </p>
      <% else %>
        <p> Be the first to write a review. </p>
      <% end %>
    </div>

    <%= render 'business_reviews' %>

    <section class="options-block" style="background-color: #191919;">
      <br>
      <p><a class="options-url" href=<%= new_business_review_path(@business) %>><button class="options-btn">Start your review of <%= @business.name%>.</button></a></p>
    </section>

    <div class="push"></div>

  </body>
</html>
