<%= form_for :customer do |f| %>
  <%= f.label :email %><br>
  <div>
  <%= f.email_field :email, required: true %>
  </div>
<br>
  <%= f.label :password %><br>
<div>
  <%= f.password_field :password %>
</div>

<p><%= f.submit "Log in", :class => "submit-btn" %></p>

<% end %>
