<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="customers.scss">
    </style>
  </head>
  <body>
    <h2>Log in to Reviewer</h2>
    <h4> New to Reviewer? <a href="/signup">Sign up</a></h4>

    <%= render 'form' %>

    <p><%= flash[:message] if flash[:message] %></p>

    <%= form_for :user do |f| %>
      <div>
        <%= f.label :email %><br>
        <%= f.email_field :email, required: true %>
      </div>
      <br>
      <div>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>

      <p><%= f.submit "Log in"%></p>

    <% end %>
  </body>
</html>
