<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="session.scss">
    </style>
  </head>
  <body>

      <div class="row">
        <div class="column">

          <h2 style="color:#D32323;">Log in to Reviewer</h2>
          <h4> New to Reviewer? <a href="/signup">Sign up</a></h4>

          <%= render 'form' %>

          <p><%= flash[:message] if flash[:message] %></p>

          <%= form_for :customer do |f| %>
          <div>
            <%= f.label :email %><br>
            <%= f.email_field :email, required: true %>
          </div>
          <br>
          <div>
            <%= f.label :password %><br>
            <%= f.password_field :password %>
          </div>

          <p><%= f.submit "Log in"%></p>

        <% end %>

        </div>
        <div class="column">
          <br>
          <p><img src="https://s3-media0.fl.yelpcdn.com/assets/2/www/img/7922e77f338d/signup/signup_illustration.png"></p>
        </div>
      </div>

  </body>
</html>
