<%= form_for(@customer) do |f| %>
  <%= f.label :name %><br>
  <div>
  <%= f.text_field :name %>
  </div>
<br>
  <%= f.label :email %><br>
  <div>
  <%= f.email_field :email, required: true %>
  </div>
<br>
  <%= f.label :password %><br>
  <div>
  <%= f.password_field :password  %>
  </div>
<br>
  <%= f.label :location %><br>
  <div>
  <%= f.text_field :location  %>
  </div>
<br>

<p><%= f.submit "Sign Up", :class => "submit-btn"%></p>

<% end %>
