<%= form_for(@customer) do |f| %>
<div>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<br>
<div>
  <%= f.label :email %><br>
  <%= f.email_field :email, required: true %>
</div>
<br>
<div>
  <%= f.label :password %><br>
  <%= f.password_field :password %>
</div>
<br>
<div>
  <%= f.label :city %><br>
  <%= f.text_field :city %>
</div>
<br>
<div>
  <%= f.label :state %><br>
  <%= f.text_field :state %>
</div>
<br>

<p><%= f.submit "Sign Up", :class => "submit-btn"%></p>

<% end %>
