<section class="top-block">
  <div>
    <h1>Something's changed?</h1>
    <p> Edit your profile, <%= current_user.name %>. </p>
  </div>
</section>

<section class="form-section">
  <%= form_for(current_user) do |f| %>
  <div>
    <%= f.label :name, :class => "form-label"%><br>
    <%= f.text_field :name, :class => "form-input" %>
  </div>
  <br>
  <div>
    <%= f.label :location, :class => "form-label" %><br>
    <%= f.text_field :location, :class => "form-input" %>
  </div>
  <br>

  <div>
    <%= f.check_box :admin %> <%= f.label :admin, "Check box if you are a business owner" %>
  </div>
  <br>

  <div> <%= f.submit "Edit", :class => 'form-submit-btn' %></div>

  <% end %>
</section>

  <div class= "edit-page-btn">
  <%= form_tag customer_path(current_user), :method => 'delete' do %> 
      <%= submit_tag "Delete Account", :class => 'delete-acct-btn' %> 
    <% end %>
  </div>

  <div class="push"></div>
