<h2>Sign Up for Reviewer</h2>
<h4><em> Connect with great local businesses </em></h4>

<p><Button type="button">Continue with Facebook</button></p>
<p><Button type="button">Continue with Google</button></p>
<p><Button type="button">Continue with Apple</button></p>
<p>or</p>
<br>

  <%= form_for(@customer) do |f| %>
    <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %></div>
    <br>
    <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %></div>
    <br>
    <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %></div>
    <br>
    <div>
    <%= f.label :city %><br>
    <%= f.text_field :city %></div>
    <br>
    <div>
    <%= f.label :state %><br>
    <%= f.text_field :state %></div>
    <br>

    <p><%= f.submit "Sign Up" %></p>
  <% end %>
