<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="customers.scss">
    </style>
  </head>
  <body>
    <div class="current-user-block">
      <h1><%= current_user.name %></h1>
      <p> <%= current_user.city %>, <%= current_user.state %> </p>
      <p> Number of reviews: <%= current_user.reviews.count %> </p>
    </div>

    <p><%= link_to "Reviews", customer_reviews_path(current_user) %></p>
    <p><%= link_to "Write a Review", businesses_path %></p>
  </body>
</html>
