<% if @customer %>
  <h3> Reviews by <%= @customer.name %> </h3>
  <p>Number of reviews: <%= @customer.reviews.count %><p>
<% elsif @business %>
  <h3>Reviews of <%= @business.name %></h3>
  <p>Number of reviews: <%= @business.reviews.count %></p>
<% end %>

<% @reviews.each do |r| %>
  <p><strong><%= link_to r.business.name, business_path(r.business) %></strong></p>
  <p>Rating: <%= r.rating %></p>
  <p><%= r.content %></p>
  <br>
<% end %>
