<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="stylesheets" href="reviews.scss">
    </style>
  </head>
<body>

  <section class="top-block">
    <div>
      <%= render 'reviews' %>
    </div>
  </section>

  <container>
  <% @reviews.each do |r| %>
    <div class="division">
      <p class="business-url"><img class="review-picture" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="OctoCat"><strong>  <%= link_to r.business.name, business_path(r.business) %></strong><br>
        Rating: <%= r.rating %></p>
      <p><%= r.content %></p>

      <% if current_user == @customer %>
        <p class="review-url-edit" style="text-align:right;"><%= link_to "Edit", edit_customer_review_path(current_user, r) %></p>
      <% end %>

    </div>
    <br>
  <% end %>
  </container>

  </body>
</html>
