<h3>
<% if @customer %>
  Reviews by <%= @customer.name %>
<% elsif @business %>
  Reviews of <%= @business.name %>
<% else %>
  All Reviews

<% end %>
</h3>

<% @reviews.each do |r| %>
  <p><strong><%= link_to r.business.name, business_path(r.business) %></strong></p>
  <p>Rating: <%= r.rating %></p>
  <p><%= r.content %></p>
  <br>
<% end %>
