<!DOCTYPE html>
<html>
  <head>
    <title> Karl </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div class="topnav">
      <% if logged_in? %>
        <%= link_to "My Profile", customer_path(current_user) %>
      <% else %>
        <%= link_to "Log In", login_path %>
        <%= link_to "Sign Up", signup_path %>
      <% end %>

      <%= link_to "Home", "http://127.0.0.1:3000" %>

      <% if logged_in? %>
        <%= link_to "Most Reviews", business_path(Review.most_reviewed_business) %>
      <% end %>

    </div>

    <%= yield %>

    <footer class="footer">
      <% if logged_in? %>
        <div><%= form_tag logout_path, :method => 'delete' do %> 
          <%= submit_tag "Logout", :class => "out-btn" %> 
          <% end %></div>
      <% end %>
      <small class="small">&copy; 2021 <strong>Karl</strong></small>
    </footer>
  </body>
</html>
