<!DOCTYPE html>
<html>
  <head>
    <title>ReviewerRailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul class="nav-bar">
      <% if logged_in? %>
        <li><a class="navbar-brand"rel="nofollow" data-method="delete" href="/logout">Log Out</a></li>
      <% else %>
        <li><%= link_to "Log In", login_path %></li>
      <% end %>

      <% if logged_in? %>
        <li><%= link_to "My Profile", customer_path(current_user) %></li>
      <% else %>
        <li><%= link_to "Sign Up", signup_path %></li>
      <% end %>

      <li><%= link_to "Home", "http://127.0.0.1:3000" %></li>
    </ul>

    <%= yield %>
  </body>
</html>
